@use 'shy-ui/src/lib/styles/index';

:host {
  color: $dark;
}

main {
  position: relative;
  @include fixedHeight(100%);
  @include fixedWidth(100%);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

router-outlet {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $medium;
  @include fixedWidth(100%);
  @include fixedHeight(var(--headerHeight));

  a {
    margin: 0;
    font-size: calc(var(--responsiveUnit) * 2);
    font-family: sans-serif;
    font-weight: bolder;
    color: $dark;
    text-decoration: none;
    @include allVendors(transition, all 250ms ease-in-out);

    &:hover {
      color: $white;
    }
  }
}

#main-content {
  @include fixedWidth(100%);
  min-height: unset;
  background: $dark;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $medium;
  @include fixedWidth(100%);
  @include fixedHeight(var(--footerHeight));

  h2 {
    font-size: calc(var(--responsiveUnit) * 1);
    text-align: center;
    font-family: sans-serif;

    #heart {
      color: $danger;
    }

    a {
      color: $danger;
      font-family: monospace;
      @include allVendors(transition, all 250ms ease-in-out);

      &:hover {
        color: $tertiary;
      }
    }
  }
}
